<div class="highlights row">
  <mat-card appearance="outlined" class="card">
    <div class="column">
      <span class="lable">Local Orders</span>
      <span class="point">10</span>
      <span class="compare"><span>+5</span> than yesterday.</span>
    </div>
    <mat-icon fontIcon="pin_drop"></mat-icon>
  </mat-card>

  <mat-card appearance="outlined" class="card">
    <div class="column">
      <span class="lable">Remote Orders</span>
      <span class="point">5</span>
      <span class="compare"><span>-2</span> than yesterday.</span>
    </div>
    <mat-icon fontIcon="local_shipping"></mat-icon>
  </mat-card>

  <mat-card appearance="outlined" class="card">
    <div class="column">
      <span class="lable">Completed Orders</span>
      <span class="point">3</span>
    </div>
    <mat-icon fontIcon="check_circle"></mat-icon>
  </mat-card>

  <mat-card appearance="outlined" class="card">
    <div class="column">
      <span class="lable">Total Revenue</span>
      <span class="point">{{ 120 | npr }}</span>
    </div>
    <mat-icon fontIcon="paid"></mat-icon>
  </mat-card>
</div>
