.form {
  padding: 21px;
  width: 350px;
}

.page-title {
  padding-bottom: 21px;
}

.checkbox {
  .input {
    height: 55px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid rgb(0 0 0 / .42);

    input {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }

    label {
      cursor: pointer;
      user-select: none;
      font-size: var(--mat-form-field-outlined-label-text-populated-size);
    }
  }
}

.checkbox::after {
  content: '';
  height: 22px;
}
