<div class="cart-page">
  <mat-card appearance="outlined" class="actions">
    <h4>Book Table:</h4>
    <qd-table (localOrder)="makeLocalOrder($event)"></qd-table>
    
    <div class="hr row center"><span>OR</span></div>
    
    <div class="column">
      <button mat-stroked-button (click)="orderHomeDelivery()">Home Delivery</button>
    </div>
  </mat-card>
  
  <div class="menu-items">
    <qd-cart-item *ngFor="let item of cart_.cart()" [cart_]="cart_" [item]="item"></qd-cart-item>
  </div>
</div>
