.cart-page {
  gap: 21px;
  display: grid;
  grid-template-columns: 350px 1fr;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.actions {
  padding: 21px;
  background: #fff;
  border-radius: 10px;
}

@media (max-width: 752px) {
  .cart-page {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.mat-divider {
  margin: 21px 0;
}
