<div class="menu-page">
  <!-- <div class="search-filter">
    <form class="search">
      <input type="text" name="search" placeholder="Search From Here">
      <input type="button" class="search-icon">
    </form>
    <div class="filter"></div>
  </div> -->
  
  <div class="menu-items" style="margin-top: 50px;">
    <qd-item *ngFor="let item of items" [item]="item" [cart_]="cart_"></qd-item>
  </div>

  <button mat-fab color="primary" [matBadge]="cart_.cart().length" matBadgePosition="before" *ngIf="cart_.cart().length" class="cart-icon" routerLink="./cart" queryParamsHandling="preserve">
    <mat-icon fontIcon="shopping_cart_checkout"></mat-icon>
  </button>
</div>
