.auth-page {
  padding: 0 10vw;
}

.container {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 40%;
}

.thumbnail {
  min-height: 50vh;
  background-image: url(/assets/l1.svg);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1000px) {
  .auth-page {
    padding: 0 7vw;
  }
}

@media (max-width: 930px) {
  .auth-page {
    padding: 0 3vw;
  }
}

@media (max-width: 850px) {
  .auth-page {
    padding: 0;
  }

  .container {
    display: block;
  }

  .thumbnail {
    display: none;
  }
}
