.notfound-page {
  padding: 12vh 0 14vh 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto min-content;
}

.img-404 {
  background-image: url(/assets/404.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mdc-button {
  color: #562349;
  font: inherit;
  font-weight: 800;
  justify-self: center;
}
