<div class="game row center">
  <div class="info column center" *ngIf="gameOver" @fadeIn>
    <div id="controls" class="column center">
      <div *ngIf="first; else next">
        <div class="message">
          <p>Use Up (⬆️) or Down (⬇️) arrow key to move <b>bug</b> up and down.</p>
        </div>
        <button mat-stroked-button (click)="startGame()">Start Game</button>
      </div>

      <ng-template #next>
        <div class="message">
          Game Over!!!
        </div>
        <table id="scoreboard">
          <thead>
            <tr>
              <th>Your Score</th>
              <th>Highest Score</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="yourScore">{{ score }}</td>
              <td id="highestScore">{{ highestScore() }}</td>
            </tr>
          </tbody>
        </table>
        <button mat-stroked-button (click)="restartGame()">Restart Game</button>
      </ng-template>
    </div>
  </div>
  <canvas id="canvas" #canvas></canvas>
</div>
